################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RestLib/bin/Debug/netstandard2.0
/RestLib/obj
/RestTests/bin/Debug/netcoreapp3.1
/RestTests/obj
/RestWallAPI/.vs/RestWallAPI
/RestWallAPI/bin/Debug/netcoreapp3.1
/RestWallAPI/obj
/ResWallSite/bin/Debug/netcoreapp3.1
/ResWallSite/obj
/RestWallSite/bin/Debug/netcoreapp3.1
/RestWallSite/obj
/RestLib/bin/Release/netstandard2.0
/RestWallAPI/bin/Release/netcoreapp3.1
/RestWallSite/bin/Release/netcoreapp3.1
/RestWallAPI/Properties/PublishProfiles
/RestWallSite/Properties/PublishProfiles
