@using RestWallSite.Models;

@{
    ViewData["Title"] = "Overview of Boards";
}

@model BoardViewModel

    <div class="category-list">
        @*<div class="b-categories-columned" style="width:500px; text-align:center; ">
            
        </div>*@
        <div class="b-categories-columned" style="text-align:center; ">
            <a href="/" id="ember127" class="d-link b-category has-description ember-view">
                <div class="category-information">
                    <h6 class="heading" style="color:darkgoldenrod">Back to Boards</h6>
                </div>
            </a>
            <a href="@Model.CurrentBoard.Id/createtopic" id="ember127" class="d-link b-category has-description ember-view">
                <div class="category-information">
                    <h6 class="heading" style="color:darkgoldenrod">New Topic</h6>
                </div>
            </a>
        </div>
    </div>

@if (Model.Topics != null)
{
    if (Model.Topics.Any())
    {
        <div class="category-list">
            <div class="b-categories-columned">

                @foreach (var item in Model.Topics)
                {
                    <a href="/boards/@Model.CurrentBoard.Id/topics/@item.Id" id="ember127" class="d-link b-category has-description ember-view">
                        <div class="category-icon">
                            <img src="~/images/wow-pvp.png" />
                        </div>

                        <div class="category-information">
                            <h4 class="heading">@item.Title</h4>
                            <h5 class="category-description">@item.Text</h5>
                        </div>
                    </a>
                }
            </div>
        </div>
    }
}

