@using RestWallSite.Models;

@{
    ViewData["Title"] = "Overview of Boards";
}

@model BoardViewModel

@if (Model.Boards != null)
{
    if (Model.Boards.Any())
    {
        <div class="category-list">
            <div class="b-categories-columned">

                @foreach (var item in Model.Boards)
                {
                    <a href="@Url.Action("board", new { boardId = @item.Id })" id="ember127" class="d-link b-category has-description ember-view">
                        <div class="category-icon">

                            <img with="50" height="50" src="~/images/wow-lore.png" />
                        </div>

                        <div class="category-information">
                            <h4 class="heading">@item.Title</h4>
                            <h5 class="category-description">@item.Description</h5>
                        </div>
                    </a>
                }
            </div>

        </div>
    }
}

