@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RestWall v1</h1>
    <p>
        Use Postman to explore: <a href="~/lib/RestWall.postman_collection.json">Download Postman Collection</a><br /><br />
        A Level 3 RESTful API, Public Message Board.
        <br /><br />
        Start here: 
        <br /><br />
        <strong><a href="/api">Root</a></strong>
    </p>
</div>
